h1 { font-size: large;
    text-align: center;
    text-decoration: underline black;
}

h1 h2 {
    display:block;
    border: 3px solid black;
}
.logostyles {
    font-size:123px;
    font-family: 'Special Elite', cursive;
} 