@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Gloria+Hallelujah&display=swap');


h1 {
    font-size: 200%;
    text-align: center;
    text-decoration: underline;

}

h1 h2 {
    letter-spacing: 4px;
    text-transform: uppercase;
    display: block;
    border-bottom: 3px solid black;
    color: #252525;
}

.logostyles {
    text-decoration: none;
    font-size: 700%;
    font-weight: 300;
    font-family: 'Faster One', cursive;
    font-family: 'Gloria Hallelujah', cursive;
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    float: left;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background: white;
    opacity: .8;
    padding: 20px;
}


body {
    background-color: aquamarine;
}

.help-image {
    background-image: url('assets/css/images/help.jpg');
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    font-weight: 300;
    color: rgb(28, 4, 51);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

#menu1 {
    font-size: 110%;
    letter-spacing: 4px;
    font-family: 'Faster One', cursive;
    font-family: 'Gloria Hallelujah', cursive;
}

#menu1 li {
    float: right;
    list-style: none;
    margin-right: 30px;
}

#menu1 a {
    text-decoration: none;
    color: inherit;
}

#menu1,
.logostyles {
    line-height: 75px;
    height: 80px;
    margin: 12px 20px;
}



#menu1 a:hover {
    border-bottom: 1px solid blueviolet;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

input {
    display: block;
    height: 32px;
    font-size: 18px;
    width: calc(50% - 40px);
    margin: 10px auto;
    padding: 0 5px;
    margin: top 50px;
    border: 1px solid black;
    background: lightsteelblue;
}

input[type=submit] {
    border-radius: 4px;
    background: blueviolet;
    color: white;
    height: 40px;
    display: block;
    font-size: 18px;
    width: calc(50% - 25px);
    margin: 10px auto;
    padding: 0 5px;
}

input[type=submit]:hover {
    background: purple;
}

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



h2 {
    font-size: 26px;
}

footer i {
    font-size: 150%;
    margin: 5px;
    padding: 15px 20px 10px 20px;
    color: white;
    display: inline;
}

footer a:hover i {
    transform: rotate(15deg) scale(1.5);
    color: aquamarine;
}

footer {
    height: 100px;
    background-color: black;

    color: aquamarine;
}

.text-centered {

    text-align: center;
}

.hero-text {
    margin: -30px 0 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background: white;
    opacity: .8;
    padding: 20px;
}

.container p {
    line-height: 22px;
    font-size: 18px;
    margin-top: 22px;
}