@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');

h1 { font-size: large;
    text-align: center;
    text-decoration: underline black;
}

h1 h2 { 
    letter-spacing: 4px;
    text-transform: uppercase;
    display:block;
    border-bottom: 3px solid black;
    color:#252525;
}
.logostyles {
    font-size:123px;
    font-weight: 300;
    font-family: 'Faster One', cursive;
    margin: 0;
    padding: 0;
    border: 0;
} 
body {
    font-family: 'Faster One', cursive;
    font-weight: 300;
}

* {
    margin:0;
    padding: 0;
    border: 0;
}