
@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Gloria+Hallelujah&display=swap');


h1 { font-size: 200%;
    text-align: center;
    text-decoration: underline;
    
}

h1 h2 { 
    letter-spacing: 4px;
    text-transform: uppercase;
    display:block;
    border-bottom: 3px solid black;
    color:#252525;
}
.logostyles {
    text-decoration: none;
    font-size: 300%;
    font-weight: 300;
    font-family: 'Faster One', cursive;
    font-family: 'Gloria Hallelujah', cursive;
    display:block;
    margin: 0;
    padding: 0;
    border: 0;
    float: left;
    }
main-image {
   height:600px;
     width:100%;
     background:url(../css/images/Image\ from\ iOS\ \(3\).jpg)no-repeat center center;}
   
     #main-image-holder {
    height:600px;
    width:100%;
    overflow:hidden;
} 
    
#main-image {
   height:600px;
     width:100%;
     background:url(../css/images/Image\ from\ iOS\ \(3\).jpg)no-repeat center center;
    }
#main-image-holder {
    height:600px;
   width:100%;
   overflow: hidden;
    }
body {
    background-color: aquamarine;
    font-weight: 300;
    color: rgb(28, 4, 51);
}

* {
    margin:0;
    padding: 0;
    border: 0;
}

#menu1 { font-size: 110%;
    letter-spacing: 4px;
    font-family: 'Faster One', cursive;
    font-family: 'Gloria Hallelujah', cursive;}

    #menu1 li {float:right;
    list-style:none;
    margin-right:30px ;
}
   #menu1 a {
       text-decoration:none;
       color:inherit;
    }
     
    #menu1, .logostyles {line-height: 75px;}

    #menu1 a:hover {
        border-bottom: 1px solid blueviolet;
    }
    .active {
        border-bottom: 1px solid #3a3a3a;








