
@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Gloria+Hallelujah&display=swap');


h1 { font-size: large;
    text-align: center;
    
}

h1 h2 { 
    letter-spacing: 4px;
    text-transform: uppercase;
    display:block;
    border-bottom: 3px solid black;
    color:#252525;
}
.logostyles {
    text-decoration: none;
    font-size:300%;
    font-weight: 300;
    font-family: 'Faster One', cursive;
    font-family: 'Gloria Hallelujah', cursive;
    margin: 0;
    padding: 0;
    border: 0;
    float: left;
} 
body {
    
    font-weight: 300;
}

* {
    margin:0;
    padding: 0;
    border: 0;
}

#menu1 { font-size: 110%;
    letter-spacing: 4px;
    font-family: 'Faster One', cursive;
    font-family: 'Gloria Hallelujah', cursive;}

    #menu1 li {float:right;
    list-style:none;
    margin-right:30px ;
}